.social-share-btn {
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
}

.footer-main-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
}

.gobackhome {
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
}